import init.arthur.usb.rc

on init
    mkdir /persist 0771 system system
    mkdir /cache 0770 system cache
    mkdir /persist 0771 system system
    write /proc/sys/kernel/sched_latency_ns 5000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 100000
    write /proc/sys/kernel/sched_min_granularity_ns 100000

# ZTE_SYS_CHENXIHUA_001:chenxihua control read of /dev/log/system
    chmod 0622 /dev/log/system
# ZTE_SYS_CHENXIHUA_001 end

on emmc-fs
    #-----system---------- 
    wait /dev/block/mmcblk0p15
    mount ext4 /dev/block/mmcblk0p15 /system rw barrier=1
    #------userdata---------- 
    wait /dev/block/mmcblk0p18
    mount ext4 /dev/block/mmcblk0p18 /data nosuid nodev barrier=1 noauto_da_alloc
    #------persist---------- 
    wait /dev/block/mmcblk0p7
    mount ext4 /dev/block/mmcblk0p7 /persist nosuid nodev barrier=1
    #------cache---------- 
    wait /dev/block/mmcblk0p17
    mount ext4 /dev/block/mmcblk0p17 /cache nosuid nodev barrier=1

on post-fs

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chmod 0770 /cache

	# ZTE_ZBS_20110107 +++
#=======create WLAN filesystem structure +++==========================
	#give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi  
	chmod 0660 /data/misc/wifi/wpa_supplicant.conf
	#wpa_supplicant ctrl sockets
    mkdir /data/misc/wifi/sockets 0770 system wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/system 0775 system system
    symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant
	#set the right for wlan driver to control slot3's polling property
	chown system system /sys/bus/platform/devices/msm_sdcc.3/polling
#=======create WLAN filesystem structure ---==========================	
# ZTE_ZBS_20110107 ---  
    setprop wifi.chip.type WCN
    chown root system /sys/module/g_android/parameters/product_id
    chmod 0664 /sys/module/g_android/parameters/product_id
    mkdir /data/radio 0770 radio radio

# create the OMA directories, so as to enforce our permissions
    mkdir /data/oma 0777
    chmod 0777 /data/oma
    chown radio /dev/pm_monitor
    #sys to light path for blink ZTE_HWY_20110307 begin
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    #sys to light path for blink ZTE_HWY_20110307 end
    #sys to light path for blink ZTE_HWY_20110307 begin
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    #sys to light path for blink ZTE_HWY_20110307 end
    #change owner&group for ti-gague enable chenchongbao.20110725_1 begin
    chown root system /sys/bus/i2c/drivers/ti-fuel-gauge/enable
	chown root system /sys/bus/i2c/drivers/ti-fuel-gauge/upmode
	chown root system /sys/bus/i2c/drivers/ti-fuel-gauge/Control
    #change owner&group for ti-gague enable chenchongbao.20110725_1 end
    # change permission from 0666 to 0664 to avoid cts failure, ZTE_BOOT_LIWEI_20110712
    chmod 0664 /sys/devices/platform/rs300000a7.65536/force_sync 

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  262144
    write /proc/sys/net/core/wmem_max  262144


on boot-pause
    exec system/bin/battery_charging

on boot

#ZTE_TORCH_YTC_20110913 BEGIN
# NOTES FROM HROARK - CM7 DOES NOT BOOT WITH OUT THIS SECTION)
# KEEP THIS AS THE FIRST SECTION UNDER on "boot section"
    chown system system /sys/class/leds/flashlight/brightness
    chmod 0774 /sys/class/leds/flashlight/brightness
#ZTE_TORCH_YTC_20110913 end



########### HROARK NOTES  ##################################################
#CynanogenMod 7 freezes after 2 minuted if this service does not exsist
service rmt_storage /sbin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage
########### END HROARK NOTES  ###############################################
