on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs
    wait /dev/block/mmcblk0p18
    symlink /sbin/  /system/bin
    symlink /sbin/busybox /sbin/sh
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default
#    wait /dev/block/mmcblk0p14
#    mount ext4 /dev/block/mmcblk0p14 /system rw barrier=1

service ueventd /sbin/ueventd
    critical

service rmt_storage /sbin/rmt_storage_recovery /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p17
    user root

service recovery /sbin/recovery

#liushoubin test
service console /sbin/busybox ash
    console
service diagtest /sbin/diagftmtest
    user root
    group radio cache inet misc audio qcom_oncrpc diag

service adbd /sbin/adbd recovery
    disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

