# Copyright (c) 2009-2010, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
##########################################
#History:
#when       who         what, where, why
#--------   ----        ---------------------------------------------------
#2010-10-13 wxw    add the getlogtofile ARM11 log function  ZTE_LOG_WXW_001
#2011-05-17 wsh    ZTE_WSH_SPRINTAT_110517
#2011-06-30 zhengchao add sprintdiag service and lauch it when start  ZTE_ZHENGCHAO_SPRINTDIAG_20110630
#2011-07-02 zhongyuanjing add property according to sprint's requirement Sprint Standard PRI Template.xlsx  ZTE_ZYJ_DEFPRI_110702
#2011-07-27 zj      set mtu=1480 for Sprint(N860)    ZTE_DATA_TCP_MTU
#2011-08-08 lpz     start loc_api_app service for N860  ZTE_GPS_LPZ_20110801
#2011-08-07 zj      disable ipv6 avoiding needless data request for Sprint(N860)    ZTE_DATA_CDMA_IPV6
#...
##########################################

on boot-pause
    exec system/bin/battery_charging

on boot
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /proc/bcm/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bcm/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # Override ro.carrier with Operator Name ,ZTE_BOOT_LIWEI_20110803
    setprop ro.carrier "Boost Mobile"

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    # symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    setprop wifi.interface wlan0

     # Create directories for wiper services
    mkdir /data/wpstiles/ 0775 shell            #CTS
    mkdir /etc/wiper 0775 location qcom_oncrpc

     # Create directories for gpsone_daemon services
    mkdir /data/gpsone_d 0770 gpsone_d qcom_oncrpc
    mkdir /etc/gpsone_d 0770 gpsone_d qcom_oncrpc

    #Set SUID bit for usbhub
    chmod 0755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init

    #Set SUID bit for diag_mdlog
    chmod 0755 /system/bin/diag_mdlog
    
    #ZTE_GPS_LPZ_20110723 BEGIN
    #Set SUID bit for loc_api_app
    #chmod 0755 /system/bin/loc_api_app
    #ZTE_GPS_LPZ_20110723 END
    
    #ZTE_TORCH_YTC_20110913 BEGIN
    chown system system /sys/class/leds/flashlight/brightness
    chmod 0774 /sys/class/leds/flashlight/brightness
    #ZTE_TORCH_YTC_20110913 end
    
    #Provide the access to hostapd.conf only to root and group
    mkdir /data/hostapd 0770 hostapd hostapd
    chmod 0660 /data/hostapd/hostapd.conf
    
    #ZTE_ALSPRX start  
    mkdir /data/misc/prox 0777 radio radio   
    chmod 0777  /dev/taos    
	#ZTE_ALSPRX end
	
	#ZTE_SENSORS_FYA_001 , begin, 20110315	
	chmod 0777 /dev/akm8962_aot
    chmod 0777 /dev/akm8962_dev
	chmod 0777 /dev/lis302dl
	chmod 0777 /dev/adxl34x
	#ZTE_SENSORS_FYA_001 , end  , 20110315

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   user root
   disabled
   oneshot

on property:ro.product.device=msm7630_fusion
    start usbhub_init

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start btwlancoex

on property:init.svc.bluetoothd=stopped
    stop btwlancoex

#service cnd /system/bin/cnd
#    socket cnd stream 660 root radio

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p5 /dev/block/mmcblk0p6
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0

#ZTE_WSH_SPRINTAT_110517,begin
service at-daemon /system/bin/at-daemon
#ZTE_WSH_SPRINTAT_110517,end

#ZTE_GPS_LPZ_20110801 BEGIN
#Start service for loc_api_app
service loc_api_app /system/bin/loc_api_app
    user root
#ZTE_GPS_LPZ_20110801 END

service qmuxd /system/bin/qmuxd

service netmgrd /system/bin/netmgrd

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
    group bluetooth net_bt_admin
    disabled
    oneshot

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKL wlan0
    disabled
    oneshot

service wiperiface /system/bin/wiperiface
    user location
    group qcom_oncrpc
    oneshot

service gpsone_daemon /system/bin/gpsone_daemon
    user root
    group qcom_oncrpc
    disabled

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user system
    group system qcom_oncrpc
    disabled
    oneshot

service qcom-sh /system/bin/sh /init.qcom.sh
    user root
    oneshot

#ZTE_SENSORS_FYA_001 , begin, 20110315
service akmd /system/bin/akmd8962
    user root
    oneshot
#ZTE_SENSORS_FYA_001 , end  , 20110315
	
service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot
    
#ZTE_LOG_WXW_001, begin, 20101013
#ZTE_LOG_CXH_0322
service getlog /system/bin/getlogtofile
    user root
    disabled
    oneshot
#ZTE_LOG_CXH_0322

#ZTE_wantao_TESTMODE_001 20100416 +++
service bttestmode /system/bin/sh /system/bin/bt_testmode.sh
    user root
    oneshot
    disabled    
#ZTE_wangtao_TESTMODE_001 20100416 ---

#ZTE_LOG_CXH_0322
on property:persist.sys.ztelog.enable=1
    start getlog

on property:persist.sys.ztelog.enable=0
    stop getlog
#ZTE_LOG_CXH_0322

#ZTE_LOG_WXW_001, end, 20101013

#service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
#    user root
#    disabled
#    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot
#    start qcom-wifi

service ckpd /system/bin/CKPD-daemon
    disabled
    onrestart /system/bin/log -t RIL-CKPD -p w "CKPD daemon restarted"

on property:ro.service.ckpd.enable=1
    start ckpd

service hdmid /system/bin/hdmid
    socket hdmid stream 0660 root system graphics
    disabled

on property:ro.hdmi.enable=true
    start hdmid

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    user root
    group root
    oneshot
    disabled

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    group radio
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    user system
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service thermald /system/bin/thermald
    user root
    group root
    disabled

on property:persist.thermal.monitor=true
    start thermald

service time_daemon /system/bin/time_daemon
    user root
    group root
    oneshot
    disabled

on property:persist.timed.enable=true
    mkdir /data/time/ 0700
    start time_daemon

service ftp /system/bin/sdptool add --channel=20 FTP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service map /system/bin/sdptool add --channel=16 MAS
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot
    
#ZTE_WANGZY_PROXIMITY_101014
service proximity_init /system/bin/proximity.init -r
    disabled
    oneshot
#ZTE_ZHENGCHAO_SPRINTDIAG_20110630
service sprintdiag /system/bin/sprintdiag
    user root
    group radio cache inet misc audio qcom_oncrpc diag
    
on property:dev.bootcomplete=1
    start proximity_init
#ZTE_WANGZY_PROXIMITY_101014 

#ZTE_ZYJ_DEFPRI_110702
setprop ro.cdma.home.operator.numeric 311870
setprop ro.cdma.home.operator.alpha "Boost Mobile"
#ZTE_ZYJ_DEFPRI_110702 

# ZTE_DATA_TCP_MTU 20110727
setprop persist.data_netmgrd_mtu 1480
# ZTE_DATA_CDMA_IPV6 20110808
setprop persist.telephony.support_ipv6 false
